<main>
  <div>
    {{#with navigation}}
      <div class='card'>
        <div class='card-body'>

          <div class='nav'>

            {{#each links}}
              <div class='nav-item'>
                <a href='{{href}}' class='nav-link'>
                  {{text}}</a>
              </div>
            {{/each}}
            <a href='{{href}}' class='nav-link disabled'>
              Disabled</a>

          </div>

        </div>
      </div>
    {{/with}}

  </div>
  {{#with formBlock}}
  <div class='row mt-5'>
    <div class='col-8'>
      
        <h1>{{header}}</h1>
        {{#with rating}}
          <p class='me-2'>{{title}}: {{value}}</p>
        {{/with}}
        {{#with actionBlock}}
          <div class='nav nav-tabs'>
            {{#each tabs}}
              <div class='nav-item'>
                <a href='#' {{#if isActive}} class='nav-link active' {{else}} class='nav-link' {{/if}}>{{text}}</a>
              </div>

            {{/each}}
            
          </div>
          <hr class="my-5">
          <div class="card">
            <div class="card-body">
               {{#with report}}
                    <p>{{title}}</p>
                    {{#with button}}
                    <a href="{{link}}" class="btn btn-secondary">{{text}}</a>
                    {{/with}}
                {{/with}} 
            </div>
            
          </div>
        {{/with}}
        <hr class="my-5">
        

        {{#with feedbackBlock}}
       
                <h2>{{title}}</h2>
                <div class="mt-5">
                    {{#each buttons}}

                    {{#if isWarning}}
                    <a class="btn btn-warning mx-2" href="{{link}}">{{text}}</a>
                    {{/if}}
                    {{#if isSuccess}}
                    <a class="btn btn-success mx-2" href="{{link}}">{{text}}</a>
                    {{/if}}
                    {{#if isDanger}}
                    <a class="btn btn-danger mx-2" href="{{link}}">{{text}}</a>
                    {{/if}}
                    {{/each}}
                </div>
                

          

        
        {{/with}}
      
      
     

     

    </div>
    <div class='col-4'>
        {{#with goodsInfo}}
            <div class="card mb-3">
                <div class="card-body ">
                    
                    
                    <img src="{{photo}}"> <br>

                    <h5 class="mt-3" >{{name}}</h5>
                    
        
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5>{{price}}</h5>
                    <p class="mb-1">
                        {{#if inMarket}}
                    Є в наявності
                    {{/if}}
                    </p>
                    
                    {{#each buttons}}
                        {{#if isPrimary}}
                            <a class="btn btn-primary me-5 mb-2" href="{{link}}">{{text}}</a>
                        {{/if}}
                        
                        {{#if isSecondary}}
                            <a class="btn btn-secondary" href="{{link}}">{{text}}</a>
                        {{/if}}
                    {{/each}}


                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    {{#with seller}}
                    <p>{{title}}: <b>{{value}}</b></p>
                    {{/with}}
                </div>
            </div>
            
        {{/with}}
    </div>
  </div>
   {{/with}}
   <hr class="my-5">

   <div class="card ">
    <div class="card-body">
        {{#each reviewList}}
            <div class="card mt-2">
                <div class="card-body">
                    {{#with title}}
                        <h6>{{userName}}</h6>
                        <p>{{caption}}</p>
                        <date>{{date}}</date>
                    {{/with}}

                </div>

            </div>
            {{#with reviewBody}}
                <div class="card">
                    
                    <div class="card-body">
                    
                        {{#with seller}}
                        <p class="me-1"> {{title}}:{{value}} </p>
                        {{/with}}

                        {{#with rating}}
                        <p class="me-1"> {{title}}:{{value}} </p>
                        {{/with}}

                        {{#each text}}
                        {{this}}
                        {{/each}}

                            {{#with advantages}}
                        <h6> {{title}} </h6>
                        <p>{{text}}</p>
                        {{/with}}
                        
                        {{#with disadvantages}}
                        <h6> {{title}} </h6>
                        <p>{{text}}</p>
                        {{/with}}

                        {{#each images}}
                        <img src="{{this}}">
                        {{/each}}
                    </div>

                </div>
                {{#each coments}}
                <div class="card ms-5 mt-2"> 
                    <div class="card-body">
                        
                        <h5>{{userName}}</h5> 
                        <p>{{date}}</p>
                        <p>{{text}}</p>
                    
                    </div>
                </div> 
                {{/each}}
            
            {{/with}}

                
                
            
           
            
            
        {{/each}}
    </div>
   </div>
 {{#with service}}
 <div class="card">
    <div class="card-body">
        
    </div>
 </div>
 {{/with}}
</main>