<div class='card'>
  <div class='card-body'>
    {{#each reviewList}}
      <div class='card mt-2'>
        <div class='card-body'>
          {{#with title}}
            <h6>{{userName}}</h6>
            <p>{{caption}}</p>
            <date>{{date}}</date>
          {{/with}}

        </div>

      </div>
      {{#with reviewBody}}
        <div class='card'>

          <div class='card-body'>

            {{#with seller}}
              <p class='me-1'> {{title}}:{{value}} </p>
            {{/with}}

            {{#with rating}}
              <p class='me-1'> {{title}}:{{value}} </p>
            {{/with}}

            {{#each text}}
              {{this}}
            {{/each}}

            {{#with advantages}}
              <h6> {{title}} </h6>
              <p>{{text}}</p>
            {{/with}}

            {{#with disadvantages}}
              <h6> {{title}} </h6>
              <p>{{text}}</p>
            {{/with}}

            {{#each images}}
              <img src='{{this}}' />
            {{/each}}
          </div>

        </div>
        {{#each coments}}
          <div class='card ms-5 mt-2'>
            <div class='card-body'>

              <h5>{{userName}}</h5>
              <p>{{date}}</p>
              <p>{{text}}</p>

            </div>
          </div>
        {{/each}}

      {{/with}}

    {{/each}}
  </div>
</div>